*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #46487b;
    
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: rgb(0, 191, 255);
    font-weight: 700;
}
#boardContainer{
display: grid;
width: 600px;
height: 600px;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
border: 3px solid #FFC857;
}

.board{
display: flex;
align-items: center;
justify-content: center;
border: 5px solid #FFC857;
background-color: white;
font-size: 100px;
}
button{
    border: none;
    width: 200px;
    height: 75px;
    border-radius: 12px;
    background-color: #2ae6f0;
}